nav {
    background-color: rgb(51, 87, 99);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
  .bold-line-through {
    position: relative;
  }
  
  .bold-line-through::after {
    content: "";
    position: absolute;
    bottom: 46%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(128, 125, 125);
    transform: translateY(50%);
  }
  
  @media only screen and (max-width: 767px) {
    body {
      overflow-x: hidden;
    }
  }