.scrollable-content {
    max-height: 900px; /* Set the maximum height of the scrollable content */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Show a thin scrollbar (adjust as needed) */
    scrollbar-color: none; /* Customize the scrollbar color */
  }
  .scrollable-content::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar (adjust as needed) */
  }
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: none; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the border radius of the scrollbar thumb */
  }
  .scrollable-content::-webkit-scrollbar-track {
    background-color: none; /* Set the color of the scrollbar track */
    border-radius: 4px; /* Set the border radius of the scrollbar track */
  }